.sec1 {
    background-image: url("../img/sec1-bg.jpg");
    padding-bottom: 80px;
    z-index: 2;

    @include media (w1024) {
        padding-bottom: 50px;
    }

    &__heading {
        margin-bottom: 50px;
    }

    &__decor-line1 {
        transform: translateY(50%);
        background-color: $main-purple;
        //margin-bottom: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 26px;
        width: 100%;

        &:before,
        &:after {
            content: "";
            background-position: left bottom;
            background-repeat: repeat-x;
            position: absolute;
            left: 0;
            height: 12px;
            width: 100%;
        }

        &:before {
            background-image: url("../img/decor-line1.png");
            top: -12px;
        }

        &:after {
            background-image: url("../img/decor-line11.png");
            bottom: -12px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @include media (w768) {
            flex-direction: column;
            margin-bottom: 50px;
        }
    }

    &__title-img {
        flex-shrink: 0;
        border-right: 4px solid white;
        padding: 30px 0;
        position: relative;
        width: 220px;

        @include media (w768) {
            border-right: none;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__title-text {
        flex-shrink: 1;
        color: white;
        font-family: "PFAgroriaSerifPro", sans-serif;
        font-size: 42px;
        padding-left: 40px;
        width: 100%;

        @include media (w1024) {
            font-size: 30px;
        }

        @include media (w768) {
            text-align: center;
            font-size: 25px;
            padding-left: 0;
        }

        strong {
            font-weight: bold;
        }
    }

    &__btn {
        margin-bottom: 20px;
    }
}