$sec3-start-heading: #9f8b68;

.sec3 {
    //overflow: hidden;
    z-index: 1;

    &__block {
        position: relative;

        &_top {
            background-color: black;
            background-image: url("../img/sec3-bg-left-top.png"), url("../img/sec3-bg-right-top.png");
            background-repeat: no-repeat;
            background-position: left top, right 130px;
            overflow: hidden;
            padding-top: 75px;

            @include media(w1366) {
                background-image: none;
            }

            @include media(w1024) {
                padding-top: 30px;
            }
        }

        &_bottom {
            background-color: white;
            margin-top: -150px;
            padding-top: 150px;

            @include media(w1024) {
                //padding-top: 0px;
            }
        }
    }

    &__block-img {
        position: absolute;
        z-index: 1;

        @include media(w1366) {
            display: none;
        }

        &_left {
            left: 0;
            bottom: 0;
        }

        &_center {
            right: 0;
            top: 50%;
        }

        &_right {
            right: 0;
            bottom: 0;
        }
    }

    &__container {

        &:after {
            //content: "";
            display: block;
            height: 30px;
        }

        @include media(w1024) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__heading {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__info {
        border-top: 4px solid white;
        border-left: 4px solid white;
        border-right: 4px solid white;
        font-family: "NexaScript", sans-serif;
        margin: 0 16px;
        padding: 35px 30px 55px;

        @include media(w1024) {
            padding: 20px 15px 30px;
        }
    }

    &__img-container {
        position: relative;
        z-index: 2;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__subimg {
        position: absolute;

        @include media(w768) {
            width: 200px;
        }

        &_left {
            bottom: -100px;
            left: -150px;

            @include media(w1024) {
                bottom: -80px;
                left: -150px;
            }

            @include media(w768) {
                bottom: -40px;
                left: -60px;
            }

            @include media(w600) {
                bottom: -40px;
                left: -60px;
            }
        }

        &_right {
            right: -30px;
            bottom: -100px;

            @include media(w1366) {
                right: -60px;
            }

            @include media(w1024) {
                right: -120px;
                bottom: -60px;
            }

            @include media(w768) {
                right: -60px;
                bottom: -40px;
            }

            @include media(w600) {
                right: -60px;
                bottom: -40px;
            }
        }
    }

    &__text-block {
        background-color: $main-purple;
        text-align: left;
        padding: 50px 30px 0;
        position: relative;
        z-index: 1;

        @include media(w768) {
            padding: 30px 15px 0;
        }
    }

    &__text-block-title {
        margin-bottom: 45px;
    }

    &__list-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__list-container {
        margin-bottom: 40px;
        width: 46%;

        @include media(w1024) {
            width: 100%;
        }

        &:nth-child(odd) {
            margin-right: 8%;

            @include media(w1024) {
                margin-right: 0;
            }
        }
    }

    &__list-info {
        border: 3px solid white;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 4px 20px 4px 120px;
        position: relative;
        min-height: 86px;

        @include media(w1024) {
            margin-left: auto;
            margin-right: auto;
            width: 92%;
        }

        @include media(w600) {
            justify-content: center;
            text-align: center;
            padding: 40px 10px 10px;
        }
    }

    &__list-img {
        position: absolute;
        left: 20px;
        top: -10px;

        @include media(w600) {
            transform: translate(-50%,-50%);
            top: 0;
            left: 50%;
            width: 60px;
        }
    }

    &__list {
        counter-reset: item;
    }

    &__list-item {
        font-size: 24px;
        margin-bottom: 5px;
        padding-left: 30px;
        position: relative;

        @include media(w768) {
            font-size: 17px;
        }

        &:before {
            content: counter(item) ". ";
            counter-increment: item;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__btn-block {
        background-color: white;
        padding: 25px 20px 45px;
        position: relative;
        z-index: 2;

        &:after {
            content: "";
            background-color: white;
            box-shadow: 0 20px 20px rgba(0,0,0,0.2);
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }

        &:before {
            //content: "";
            background-color: white;
            position: absolute;
            left: -1000px;
            right: -1000px;
            bottom: 0;
            height: 50%;
            z-index: -2;
        }
    }

    &__btn-block-container {
        position: relative;
        z-index: 1;
    }

    &__btn-block-img {
        display: block;
        margin: 0 auto 30px;
    }

    &__btn-block-title {
        color: black;
        margin-bottom: 30px;
    }

    &__bottom-heading {
        margin-bottom: 150px;
    }

    &__start-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    &__start-item {
        width: calc(100% / 3);

        @include media(w1024) {
            margin-bottom: 120px;
            width: 50%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include media(w768) {
            margin-bottom: 130px;
            width: 100%;
        }
    }

    &__start-heading-container {
        position: relative;
    }

    &__start-heading-img {
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
        left: 50%;
    }

    &__start-heading {
        color: $sec3-start-heading;
        font-size: 80px;
        font-weight: 900;
        line-height: 0.7;
        position: relative;
        z-index: 1;

        @include media(w1366) {
            font-size: 74px;
        }

        @include media(w768) {
            font-size: 65px;
        }
    }

    &__quote {
        font-family: "NexaScript", sans-serif;
        font-size: 40px;
        margin-bottom: 50px;

        @include media(w768) {
            font-size: 33px;
        }
    }

    &__invest {
        background-color: $main-purple;
        background-image: url("../img/sec3-decor-lines.png");
        background-repeat: no-repeat;
        //background-position: center;
        padding: 80px 0;
        position: relative;

        @include media(w1024) {
            padding: 30px 0;
        }

        &:before,
        &:after {
            content: "";
            background-position: left bottom;
            background-repeat: repeat-x;
            position: absolute;
            left: 0;
            height: 12px;
            width: 100%;
        }

        &:before {
            background-image: url("../img/decor-line1.png");
            top: -12px;
        }

        &:after {
            background-image: url("../img/decor-line11.png");
            bottom: -12px;
        }
    }
    
    &__invest-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        @include media(w1024) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__invest-text {
        flex-shrink: 1;
        margin-right: 50px;

        @include media(w1024) {
            margin-right: 0;
            margin-bottom: 20px;
        }

        br {
            @include media(w1366) {
                display: none;
            }
        }
    }

    &__invest-btn {
        flex-shrink: 0;
    }
}