@mixin media($media) {

    @if $media == w1366 {
        @media only screen and (max-width: 1366px) { @content; }
    }

    @else if $media == w1280 {
        @media only screen and (max-width: 1280px) { @content; }
    }

    @else if $media == w1024 {
        @media only screen and (max-width: 1024px) { @content; }
    }

    @else if $media == w768 {
        @media only screen and (max-width: 768px) { @content; }
    }

    @else if $media == w600 {
        @media only screen and (max-width: 600px) { @content; }
    }

    @else if $media == w500 {
        @media only screen and (max-width: 500px) { @content; }
    }
}

@mixin link($color, $hover, $focus: $hover, $active: $hover, $visited: $color) {
    transition: $trans;
    color: $color;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: $hover,
    }

    &:focus {
        color: $focus;
    }

    &:active {
        color: $active,
    }

    &:visited {
        color: $visited;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}