section.sec.sec1
    include header
    div.container
        h1.sec1__heading
            |ФРАНШИЗА
            p.
                любимого ресторана
            span.
                ПЕТЕРБУРЖЦЕВ
        div.decor-line.sec1__decor-line
        div.sec1__title
            div.sec1__title-img
                img(src="img/sec1-trip.png", alt="")
            p.sec1__title-text.
                Откройте франшизу заведения из <strong>ТОП-10</strong> Санкт-Петербурга по версии TripAdvisor
        div.sec1__btn-container.ta-center.color-white
            a(href="").btn-round.btn-round_download.sec1__btn.js-small-btn.
                Скачать презентацию
            p.f28.
                PDF-презентация (6,5 Mb)
    div.sec1__decor-line1