section.sec.sec2
    div.container.ta-center
        h2.sec2__heading.
            Ресторан моно-кухни «Пельмения» – авторская кухня в уникальном формате
        p.f32.sec2__title.
            Петербуржцы полюбили «Пельмению» по трем причинам:
        img(src="../img/sec2-bg-left-center.png", alt="").sec2__img.sec2__img_left
        img(src="../img/sec2-bg-right-center.png", alt="").sec2__img.sec2__img_right
        ul.sec2__gallery
            li.sec2__gallery-item
                div(style="background-image:url(img/sec2-gallery-img1.jpg)").sec2__gallery-img
                div.sec2__gallery-text
                    h4.
                        Главное блюдо нашего ресторана – пельмени
                    p.f24.
                        В нашем ассортименте их более 27 разновидностей: русские пельмени, манты, хинкали, равиоли, гедза, дим-сам, ханум и вареники.
            li.sec2__gallery-item
                div(style="background-image:url(img/sec2-gallery-img2.jpg)").sec2__gallery-img
                div.sec2__gallery-text
                    h4.
                        Главное блюдо нашего ресторана – пельмени
                    p.f24.
                        В нашем ассортименте их более 27 разновидностей: русские пельмени, манты, хинкали, равиоли, гедза, дим-сам, ханум и вареники.
            li.sec2__gallery-item
                div(style="background-image:url(img/sec2-gallery-img3.jpg)").sec2__gallery-img
                div.sec2__gallery-text
                    h4.
                        Главное блюдо нашего ресторана – пельмени
                    p.f24.
                        В нашем ассортименте их более 27 разновидностей: русские пельмени, манты, хинкали, равиоли, гедза, дим-сам, ханум и вареники.
        img(src="../img/sec2-img-bottom.png", alt="").sec2__bottom-img
        div.sec2__fact
            h2.sec2__fact-heading.
                Более <span>20 000</span>
            p.f34.sec2__fact-text.
                 гостей ежемесячно посещают наши заведения
            p.f34.sec2__fact-title.
                Посетители вкусно обедают и получают качественный сервис, а мы – легко открываем и окупаем новые рестораны!
            div.sec2__fact-btn-wrap
                a(href="").btn-round.sec2__fact-btn.
                    Узнать подробности

