section.sec.sec3
    div.sec3__block.sec3__block_top.color-white
        div.container.ta-center
            h2.sec3__heading.
                Ресторан моно-кухни «Пельмения» – авторская кухня в уникальном формате
            p.f32.sec3__title.
                Петербуржцы полюбили «Пельмению» по трем причинам:
            div.sec3__info
                p.f34.ta-center.
                    А эксклюзивное право работы на город, вместе с отработанными временем инструментами, позволит вам максимально быстро выйти на чистую прибыль 4,5 млн рублей уже в первый год работы.
            div.sec3__img-container
                img(src="img/sec3-img-left.png", alt="").sec3__subimg.sec3__subimg_left
                img(src="img/sec3-img-right.png", alt="").sec3__subimg.sec3__subimg_right
                img(src="img/sec3-img.jpg", alt="").sec3__img
            div.sec3__text-block
                p.f32.ta-center.sec3__text-block-title.
                    Предоставим все необходимое для старта и работы:
                div.sec3__list-wrap
                    div.sec3__list-container
                        div.sec3__list-info
                            img(src="../img/sec3-icon1.png", alt="").sec3__list-img
                            h3.
                                Обучение и техническая документация
                        ul.sec3__list
                            li.sec3__list-item.
                                Пятидневное обучение вас и руководящего состава вашего ресторана
                            li.sec3__list-item.
                                Проведение ежегодных тренингов для повышения квалификации
                            li.sec3__list-item.
                                Помощь с разработкой дизайн-проекта ресторана
                            li.sec3__list-item.
                                Бизнес-план по запуску и список оборудования с описанием технических данных
                    div.sec3__list-container
                        div.sec3__list-info
                            img(src="../img/sec3-icon2.png", alt="").sec3__list-img
                            h3.
                                Маркетинг и реклама
                        ul.sec3__list
                            li.sec3__list-item.
                                Право на использование бренда ресторана «Пельмения»
                            li.sec3__list-item.
                                Перечень каналов и инструментов для онлайн и оффлайн продвижения
                            li.sec3__list-item.
                                Макеты рекламных материалов
                            li.sec3__list-item.
                                Создание сайта и рекламных кампаний в Яндекс.Директ и Google.Adwords
                    div.sec3__list-container
                        div.sec3__list-info
                            img(src="../img/sec3-icon3.png", alt="").sec3__list-img
                            h3.
                                Управление
                        ul.sec3__list
                            li.sec3__list-item.
                                Авторские рецепты блюд и технологические карты
                            li.sec3__list-item.
                                Помощь с поиском, отбором и адаптацией персонала
                            li.sec3__list-item.
                                Должностные инструкции
                            li.sec3__list-item.
                                Инструменты планирования, и контроля
                    div.sec3__list-container
                        div.sec3__list-info
                            img(src="../img/sec3-icon4.png", alt="").sec3__list-img
                            h3.
                                Сопровождение
                        ul.sec3__list
                            li.sec3__list-item.
                                Подключение к системе бонусов и лояльности «Пельмения»
                            li.sec3__list-item.
                                Настройка программного комплекса управления рестораном
                            li.sec3__list-item.
                                Инструкция по ведению бухгалтерского учета
                            li.sec3__list-item.
                                Правила финансового планирования
            div.sec3__btn-block.ta-center
                div.sec3__btn-block-container
                    img(src="../img/sec3-decor.png", alt="").sec3__btn-block-img
                    p.f32.sec3__btn-block-title.
                        С более детальной информацией ознакомьтесь в презентации
                    a(href="").btn-round.
                        Сохранить презентацию
    div.sec3__block.sec3__block_bottom
        h2.sec3__heading.ta-center.
            Что потребуется для начала работы?