section.sec.sec4
    div.container.ta-center.color-white
        h2.sec4__heading.
            Успейте открыть первый ресторан народной моно-кухни в своем городе
        p.f38.sec4__title.
            Получите отлаженный бизнес, зарекомендовавший себя на рынке
        p.f38.sec4__subtitle.
            Проверьте, свободен ли ваш город?
        form#bottomForm.sec4__form
            label.sec4__form-label
                input(name="city1" type="text" placeholder="Ваш город" required="").input.input_city.sec4__form-input
            label.sec4__form-label
                input(name="phone" type="text" placeholder="Ваш телефон" required="").input.input_phone.sec4__form-input
            label.sec4__form-label
                input(name="email" type="email" placeholder="Ваш e-mail" required="").input.sec4__form-input
            div.sec4__btn-container
                button(href="").btn-round.sec4__btn.
                    Проверить город